# Настройки проекта
PROJECT_NAME="Price Tracker API"
VERSION="1.0.0"
API_V1_STR="/api/v1"

# PostgreSQL
POSTGRES_USER=имя_пользователя
POSTGRES_PASSWORD=пароль
POSTGRES_SERVER=имя_сервера
POSTGRES_PORT=5432
POSTGRES_DB=имя_бд

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Security 
SECRET_KEY=ключ
ALGORITHM=алгоритм
ACCESS_TOKEN_EXPIRE_MINUTES=срок_действия_токена_в_минутах

