# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Docker
.docker/

# Databases
*.sqlite3
postgres_data/

# Celery
celerybeat-schedule

# IDEs
.idea/
.vscode/
.DS_Store

# Logs
*.log

